@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-blue: #3E6BA3;
  --brand-beige: #B79F8C;
  --brand-blue-dark: #2F537F;
  --brand-beige-light: #CEB7A6;
}

.bg-gradient-fine {
  background-image: linear-gradient(180deg, #0B1020 0%, #111827 100%);
}